.root {
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon {
  box-shadow: var(--mantine-shadow-md);
}

.code {
  font-size: clamp(5rem, 12vw, 9rem);
  line-height: 1;
  font-weight: 900;
  color: var(--mantine-color-primary-1);
  user-select: none;
}
